.chart-series-line {
    -fx-stroke: #4169E1;
    -fx-stroke-width: 1.25;
}

.chart-line-symbol {
    -fx-background-color: crimson;
    -fx-padding: 2;
    -fx-opacity: 0.6;
}

.chart-plot-background {
    -fx-background-color: white;
}
.chart-vertical-grid-lines {
    -fx-stroke: gainsboro;
}
.chart-horizontal-grid-lines {
    -fx-stroke: gainsboro;
}

.chart-symbol {
    -fx-background-color: #4169E1;
    -fx-background-insets: 0, 2;
    -fx-padding: 2px;
}
