.chart-series-line {
    -fx-stroke: darkblue;
    -fx-stroke-width: 1.5;
}

.chart-line-symbol {
    -fx-background-color: crimson;
    -fx-padding: 2.0;
}

.chart-plot-background {
    -fx-background-color: white;
}
.chart-vertical-grid-lines {
    -fx-stroke: gainsboro;
}
.chart-horizontal-grid-lines {
    -fx-stroke: gainsboro;
}

