.chart-series-line {
    -fx-stroke: #4169E1;
    -fx-stroke-width: 1.0;
}

.chart-line-symbol {
    -fx-background-color: darkred;
    -fx-padding: 1.75;
}

.chart-plot-background {
    -fx-background-color: white;
}
.chart-vertical-grid-lines {
    -fx-stroke: gainsboro;
}
.chart-horizontal-grid-lines {
    -fx-stroke: gainsboro;
}

