.chart-series-line {
    -fx-stroke: #4169E1;
    -fx-stroke-width: 0.5;
}

.chart-line-symbol {
    -fx-background-color: crimson;
    -fx-padding: 0.75;
    -fx-opacity: 0.5;
}

.chart-plot-background {
    -fx-background-color: white;
}
.chart-vertical-grid-lines {
    -fx-stroke: gainsboro;
}
.chart-horizontal-grid-lines {
    -fx-stroke: gainsboro;
}

.chart-symbol {
    -fx-background-color: #4169E1;
    -fx-padding: 0.75;
}
