.chart-series-line {
    -fx-stroke: #4682B4;
    -fx-stroke-width: 1.0;
}

.chart-symbol {
    -fx-background-color: #4682B4;
    -fx-padding: 2.0;
}

.chart-bar {
    -fx-bar-fill: #4682B4;
}

.chart-plot-background {
    -fx-background-color: white;
}
.chart-vertical-grid-lines {
    -fx-stroke: gainsboro;
}
.chart-horizontal-grid-lines {
    -fx-stroke: gainsboro;
}

