.chart-series-line {
    -fx-stroke: #4169E1;
    -fx-stroke-width: 0.75;
}

.chart-line-symbol {
    -fx-background-color: crimson; 
    -fx-padding: 1.5;
    -fx-opacity: 0.7;
}

.chart-plot-background {
    -fx-background-color: white;
}
.chart-vertical-grid-lines {
    -fx-stroke: gainsboro;
}
.chart-horizontal-grid-lines {
    -fx-stroke: gainsboro;
}

